button {
    border: none;
    background-color: rgb(75, 75, 82);
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 20%;
    outline: none;
  }
  
  button:hover {
    background-color: rgb(220, 166, 18);
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: rgb(220, 166, 18);
    border-radius: 10px;
  }
  
  .equals:hover {
    background-color: rgb(228, 39, 15);
  }